* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(80deg, blue, pink);
    border: 2px solid black;
    box-shadow: 0px 0px 20px black;
    border-radius: 30px;
    padding: 70px;
}

a {
    color: black;
}

a:hover {
    background-color: pink;
    color: white;
}

.navigateur {
    /* position: absolute;
    top: 50px;
    right: 500px; */
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border: 2px solid blue;
    box-shadow: 0px 0px 20px blue;
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
    /* text-align: center; */
    width: 200px;
    height: 190px;
}

#sommaire{
    display: flex;
    justify-content: center;
}

nav li,
nav a:visited,
nav a:link {
    text-decoration: none;
    font-size: 1rem;
    list-style: circle;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav a {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

nav a:hover,
nav a:hover>nav li {
    background-color: pink;
}

img {
    width: 35%;
    clip-path: circle(50%);
    display: flex;
    justify-content: center;
}

#image {
    width: 30%;
    border-radius: 50px;
    display: flex;
    justify-content: center;

}

#entête {
    display: flex;
    justify-content: flex-start;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid pink;
    box-shadow: 0px 0px 20px pink;
    border-width: 5px;
    border-radius: 30px;
    background-color: lightblue;
    gap: 20px 20px;
    margin-bottom: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    color: black;
    font-family: fantasy;
    font-size: 3rem;
}

h2 {
    display: flex;
    justify-content: flex-start;
    color: black;
    font-family: fantasy;
    font-size: 2rem;
    margin-bottom: 10px;
}

body {
    margin: 20px;
}

li {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

main {
    font-family: Arial, Helvetica, sans-serif;
}

#profil {
    border: 2px solid pink;
    box-shadow: 0px 0px 20px pink;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#compétences {
    border: 2px solid pink;
    box-shadow: 0px 0px 20px pink;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: lightblue;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    height: auto;
}

#CEF {
    display: flex;
    justify-content: center;

}

.progrès {
    display: flex;
    flex-direction: column;
}

#HTML,
#CSS,
#Javascript,
#Anglais {
    display: flex;
    flex-direction: column;
}

#expériences {
    border: 2px solid pink;
    box-shadow: 0px 0px 20px pink;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    height: auto;

}

#formation {
    border: 2px solid pink;
    box-shadow: 0px 0px 20px pink;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    height: auto;
}

#row, #row3 {
    display: flex;
    justify-content: center;
}

dl {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

dt {
    font-weight: bold;
}

#intérêt {
    border: 2px solid pink;
    box-shadow: 0px 0px 20px pink;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: 500px;
    height: auto;
}

#row2 {
    display: flex;
    justify-content: flex-start;
}

#contact {
    border: 2px solid pink;
    box-shadow: 0px 0px 20px pink;
    border-radius: 30px;
    padding: 20px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    height: auto;
}

footer {
    color: black;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.separateur{
    width: 50%;
    height: 5px;
    border-radius: 10px;
    background-color: blue;
    margin: 20px;
}

@media (max-width: 768px) {

    main, header {
        display: flex;
        flex-wrap: wrap;
        justify-content:  center;
    }

    body {
        padding: 10px;
        margin: 0;
    }

    img{
        width: 100%;
    }

}

@media print{

    #profil, #compétences, #expériences, #formation, #contact, #intérêt, header {
        background-color: white;
        border: 1px solid black;
        box-shadow: none;
    }

    .navigateur{
        display: none;
    }
}